.page-edit-banner, .page-edit-banner-main {
    background-color: #444444;
}
.page-edit-banner{
    width: 100%;
}
.page-edit-banner > button {
    color: #e3e3e3;
    width: 10%;
    cursor: pointer;
}
.page-edit-banner > button:hover {
    color: white;
}

.HorizontalNav-Component > i{
    line-height: 1.5em;
    font-size: 0.95em;
    vertical-align: top;
}
.TextArea-Component > i{
    line-height: 1.5em;
    font-size: 0.95em;
    vertical-align: top;
}
.VerticalNav-Component > i{
    line-height: 1.5em;
    font-size: 0.95em;
    vertical-align: top;
}
.Slider-Component > i{
    line-height: 1.5em;
    font-size: 0.95em;
    vertical-align: top;
}

.ImageContainer-Component > i{
    line-height: 1.5em;
    font-size: 0.90em;
    vertical-align: top;
}
.Survey-Component > i{
    line-height: 1.5em;
    font-size: 0.94em;
    vertical-align: top;
}
.Calendar-Component > i{
    line-height: 1.5em;
    font-size: 0.90em;
    vertical-align: top;
}
.TabMenu-Component > i{
    line-height: 1.5em;
    font-size: 0.94em;
    vertical-align: top;
}
.ImageGallery-Component > i{
    line-height: 1.5em;
    font-size: 0.88em;
    vertical-align: top;
}

.component-text{
    margin-top: -0.5em;
}