ul{
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}
li{
    text-decoration: none;
}
li:hover{
    text-decoration: none;
}
.point--arrow-circle{
    clear: both;
    line-height: 1.5em;
    font-size: 1.1em;
}
.point--arrow-circle::before{
    float: left;
    content: "\25BA";
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    font-size: 1em;
    box-sizing: border-box;
    border: 0.1em solid transparent;
    margin-right: 0.5em;
    padding-left: 3px;  
}
.arrow-dxc-yellow::before {
    background-color: #FFED00;
    color: #000;
}
.arrow-dxc-yellow-inverse::before {
    background-color: #000;
    color: #FFED00;
}
.arrow-dxc-white::before {
    background-color: #FFFFFF;
    color: #000;
}
.arrow-dxc-white-inverse::before {
    background-color: #000;
    color: #FFF;
}
.dxc-yellow, .dxc-yellow > a, .dxc-yellow-hover, .dxc-yellow-hover > a{
    background-color: #FFED00;
    color: #000000;
}
.dxc-white, .dxc-white > a, .dxc-white-hover, .dxc-white-hover > a{
    background-color: #FFFFFF;
    color: #000000;
}
.dxc-black-white, .dxc-black-white > a,.dxc-black-white-hover, .dxc-black-white-hover > a{
    background-color: #000000;
    color: #ffffff;
}
.dxc-black-yellow, .dxc-black-yellow > a, .dxc-black-yellow-hover, .dxc-black-yellow-hover > a{
    background-color: #000000;
    color: #FFED00;
}
.dxc-yellow-hover:hover, .dxc-yellow-hover > a:hover{
    background-color: #000000;
    color: #FFED00;
}
.dxc-white-hover:hover, .dxc-white-hover > a:hover {
    background-color: #000000;
    color: #FFFFFF;
}
.dxc-black-white-hover:hover, .dxc-black-white-hover > a:hover{
    background-color: #ffffff;
    color: #000000;
}
.dxc-black-yellow-hover:hover, .dxc-black-yellow-hover > a:hover{
    background-color: #FFED00;
    color: #000000;
}
.dxc-background-blue{
    background-color: #007cFF;
}
.dxc-background-green{
    background-color: #32bb00;
}
.dxc-background-yellow{
    background-color: #FFED00;
}
.dxc-background-white{
    background-color: #FFFFFF;
}
.dxc-background-gray--light{
    background-color: #d9d9d9;
}
.dxc-background-gray--dark{
    background-color: #666666;
}
.dxc-background-black{
    background-color: #000000;
}
.dxc-font-blue{
    color: #007cFF;
}
.dxc-font-green{
    color: #32bb00;
}
.dxc-font-yellow{
    color: #FFED00;
}
.dxc-font-white{
    color: #FFFFFF;
}
.dxc-font-gray--light{
    color: #d9d9d9;
}
.dxc-font-gray--dark{
    color: #666666;
}
.dxc-font-black{
    color: #000000;
}
.slider-shape-DXC {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5em 60% 60% 0.5em;
    opacity: 0.8;
}
.slider-shape-DXC::after {
    margin-bottom: -10%;
}
.slider-shape-square {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
}
.slider-shape-hidden{
    display: none;
    visibility: hidden;
}
.content-slider-indicators-shape--circle> li, .content-slider-indicators-shape--square> li {
    color: transparent !important;
    box-sizing: border-box;
}
.content-slider-indicators-shape--square> li{
    border: 1px;
}
.content-slider-indicators-shape--circle> li{
    border-radius: 1em;
    border: 1px solid transparent;
}
